In [9]:
# Empty tuple

a =()
type(a)

tuple

In [2]:
# empty tuple with tuple() function

a = tuple()
a

()

In [4]:
# tuple with data

a = (1,5,2,7)
a

(1, 5, 2, 7)

In [10]:
# Homogeneous tuple

a = (1,2,3,4,5)   # all are same datatype
a

(1, 2, 3, 4, 5)

In [11]:
# Heterogeneous tuple

a = (1,3.45,3+4j)  # different datatype
a

(1, 3.45, (3+4j))

In [12]:
# Nested tuple

a = ('Soc',[1,2,3],{1,2,3})   # sequence datatype
a

('Soc', [1, 2, 3], {1, 2, 3})

In [14]:
# Access using Index

#Positive index

a = (1,3.45,3+4j)
a[1]

3.45

In [18]:
# Negitive Index
a[-1]

(3+4j)

In [19]:
# Access using Slicing

a[1:3]

(3.45, (3+4j))

In [20]:
# Access using Dicing

a[0:3:2]

(1, (3+4j))

In [23]:
a = ([1,2,3],(4,5,6))
a[1]

(4, 5, 6)

In [24]:
a[0][0]

1

In [27]:
a[0][1]

2

In [28]:
# we can't modify the tuple data

# count()

a = (1,2,3,4,1)
a.count(1)

2

In [29]:
# index()

a.index(4)

3

In [30]:
# Convert tuple into list

a = list(a)
a[3] = 400
a

[1, 2, 3, 400, 1]

In [31]:
a = tuple(a)
a

(1, 2, 3, 400, 1)